<div class="mod modSectionHeader {{include.class}}">
  <div style="text-align: center; padding-bottom: 15px; height: inherit;">
    <span style="display: inline-block; background: var(--color-surface); font-size: 3em; padding-top: 10px; padding-bottom: 10px; text-transform: uppercase; color: {{ include.color | default: 'var(--color-text)' }};">{{ include.title }}</span>
  </div>
  {% if include.tagline %}
    <div style="text-align: center;">
      <span style="display: inline-block; background: var(--color-surface); font-size: 1.5em; text-transform: uppercase; color: {{ include.color | default: 'var(--color-text)' }};">{{include.tagline}}</span>
    </div>
  {% endif %}
</div>
