
<div class='links'>
  <h3>Recent Posts</h3>
  <ul>
          {% for post in site.posts %}
            <li><a href="{{ post.url | relative_url }}">{{post.title}}</a></li>
          {% endfor %}
        </ul>
</div>
<!-- <div class='links'>
  <h3>Tags</h3>
  <ul>
    <li>
      <a href='#'>Logo</a>
    </li>
    <li>
      <a href='#'>Development</a>
    </li>
    <li>
      <a href='#'>Design</a>
    </li>
    <li>
      <a href='#'>Photography</a>
    </li>
    <li>
      <a href='#'>News</a>
    </li>
    <li>
      <a href='#'>Javascript</a>
    </li>
  </ul>
</div> -->
