---
layout: default
---


<div class='full parallax' style='background-image: url({{site.url}}/images/banner/banner.jpg); color: var(--color-text-on-dark);'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="The IRL Blog" tagline="See the latest blog posts from members of the IRL group" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full' style='background: var(--color-surface-subtle)'>
  <div class='row'>
    <div class='large-9 columns'>

      <div class="big mod modBlogPost">
        <div class="content">
          <h3>IRL Member Blogs</h3>
          In addition to our main blog on this site, some members of our group also maintain individual blogs:
          <ul>
            <li>
              <a href="https://zjkmxy.github.io/year-archive/">Xinyu Ma</a>
            </li>
          </ul>
        </div>
      </div>

      {{content}}

      {% if paginator %}
        <div class="pager">
          {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <a href="/blog" class="older">Older Entries</a>
            {% else %}
              <a href="/blog/page{{ paginator.next_page }}" class="older">Older Entries</a>
            {% endif %}
          {% else %}
            <span class="older">Older Entries</span>
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="/blog" class="newer">Newer Entries</a>
            {% else %}
              <a href="/blog/page{{ paginator.previous_page }}" class="newer">Newer Entries</a>
            {% endif %}
          {% else %}
            <span class="newer">Newer Entries</span>
          {% endif %}
        </div>
      {% endif %}


      <div class='four spacing'></div>
    </div>
    <div class='large-3 columns' id='sidebar'>
      {% include sidebar.html %}
      <div class='four spacing'></div>
    </div>
  </div>
</div>
