---
layout: default
---


<div class='full parallax page-hero' style='background-image: url({{ "/images/banner/banner.jpg" | relative_url }});'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="The IRL Blog" tagline="See the latest blog posts from members of the IRL group" class="big" %}
    </div>
  </div>
</div>


<div class='full content-section'>
  <div class='row'>
    <div class='large-9 columns'>

      <div class="big mod modBlogPost">
        <div class="content">
          <h3>IRL Member Blogs</h3>
          In addition to our main blog on this site, some members of our group also maintain individual blogs:
          <ul>
            <li>
              <a href="https://zjkmxy.github.io/year-archive/">Xinyu Ma</a>
            </li>
          </ul>
        </div>
      </div>

      {{content}}

      {% if paginator %}
        <div class="pager">
          {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <a href="{{ '/blog' | relative_url }}" class="older">Older Entries</a>
            {% else %}
              {% capture older_page_path %}/blog/page{{ paginator.next_page }}{% endcapture %}
              <a href="{{ older_page_path | relative_url }}" class="older">Older Entries</a>
            {% endif %}
          {% else %}
            <span class="older">Older Entries</span>
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="{{ '/blog' | relative_url }}" class="newer">Newer Entries</a>
            {% else %}
              {% capture newer_page_path %}/blog/page{{ paginator.previous_page }}{% endcapture %}
              <a href="{{ newer_page_path | relative_url }}" class="newer">Newer Entries</a>
            {% endif %}
          {% else %}
            <span class="newer">Newer Entries</span>
          {% endif %}
        </div>
      {% endif %}

    </div>
    <div class='large-3 columns' id='sidebar'>
      {% include sidebar.html %}
    </div>
  </div>
</div>
